.menu {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.group {
  box-sizing: border-box;
  display: flex;
  column-gap: calc(var(--offset-base-size) * 2);
}

.left {
  justify-self: start;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: calc(var(--offset-base-size) * 2);
  color: var(--text-primary-color);
  text-decoration: none;
  border-radius: var(--common-border-radius-s);
}
