.menu {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.menu-group {
  box-sizing: border-box;
  display: flex;
  column-gap: calc(var(--offset-base-size) * 2);
}

.menu-group_left {
  justify-self: start;
}

.menu-group_center {
  justify-self: center;
}

.menu-group_right {
  justify-self: end;
}

.menu-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: calc(var(--offset-base-size) * 2);
  color: var(--text-inactive-color);
  text-decoration: none;
  border-radius: var(--common-border-radius-s);
}

.menu-item_active {
  color: var(--text-primary-color);
}


